.headerContainer{
  background:linear-gradient(rgba(39, 48, 55, 0.5),transparent);
  background:rgb(39, 34, 59);;
  display: flex;
  font-family: Ubuntu;
  width: 100%;
  height: 10vh;
  position: absolute;
  left: 0px;
  top: 0px;
  font-weight: bold;
  z-index:1;
}
.footer{
  color: #1eb91e;
  width: 100%;
  height : 10%;
  position: absolute;
  bottom: -60px;
  font-family: Ubuntu;
  font-weight: bold;
  overflow: hidden;
  background:rgb(39, 34, 59);
  z-index: 4;
  text-align: center;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.leftCont {
  padding-left: 30px;
  display: flex;
  font-family: Ubuntu;
  font-weight: bold;
  color: white;
  width:50%;
  /* z-index: 1; */
}
.navitem {
  display: flex;
  font-family: Ubuntu;
  align-items: center;
  height: 10vh;
  color: white;
}
.centerCont{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  /* z-index: 2; */
}
.rightCont {
  text-align: right;
  width: 33%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: end;
}

.rightCont .right{
  width:60px;
  height: 60px;
}

.inputField {
  font-family: Ubuntu;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: block;
  background: #374868;
  height: 40px;
  border-radius: 20px;
  padding-left: 8px;
  border: 1px solid #ccc;
 }


/* .nav-links { 
  color: white;
  text-decoration: none;
  font-family: Ubuntu;
  padding: 0.5rem 1rem;
 }

.nav-links:hover {
  background-color: #12181a;
  border-radius: 4px;
  transition: all 0.2s ease-out;
} */



.logoright
{
  float: right;
  position: absolute;
  right: 50px;
  top: 10px;

  /* top: -10px; */
}

.linkcolor{
  text-decoration-color: #1eb91e;
}

.FooterAbout{
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  color: #e6eee6;
  position: relative;
  top: 10px;
  left: -10px;
  /* justifyContent: "space-between" */
}

.FooterSignup{
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  color: #e6eee6;
  position: relative;
  top: 10px;
  left: 40px;
  /* justifyContent: "space-between" */
}

.FooterLogin{
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  color: #e6eee6;
  position: relative;
  top: 10px;
  margin-left: 80px;
  /* justifyContent: "space-between" */
}


.FooterFAQ{
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  color: #e6eee6;
  position: relative;
  top: 10px;
  margin-left: 60px;
  /* justifyContent: "space-between" */
}



